* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body
{
    background: #f5ad42;
    color: #f1ab43;
}

#header
{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: auto 100%; /* Adjusted background size */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: top right; /* Adjusted background position */
    background-color: #f5ad42; /* Adjusted background color to orange */
}

.logo
{
    position: absolute;
    top: 2%;
    left: 1%;
    width: 150px; /* Adjust the width as per your requirements */
    height: auto; /* Maintain the aspect ratio of the image */
}

.container
{
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align the content to the right */
    flex-wrap: wrap;
}

nav ul {
    text-align: right;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 85px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff8000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    position: absolute;
    top: 30%;
    left: 3%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}


#name
{
    text-decoration: underline;
    text-decoration-color: #91f5f0;
}

#fs
{
    color:#91f5f0
}

/* -------------- about ----------- */

#about {
    padding: 80px 0;
    color: #767575;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    position: relative;
    left: -115px;
}

.about-col-1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make the image responsive */
    height: auto;
    border-radius: 15px;
}

.about-col-2
{
    position: relative;
    flex-basis: 60%;
    margin-left: 0px; /* Adjust the margin as per your requirements */
}

@media (max-width: 950px)
{
    #about
        {
      padding: 80px 0;
      color: #767575;
        }

    .row
        {
        flex-direction: column;
        }
    
    .about-col-1 
      {
        position: relative;
        left: 0;
        flex-basis: 100%; /* Change the width to full width on small screens */
        text-align: center; /* Center the image on small screens */
        margin-bottom: 20px; /* Add margin to create space between the image and text on small screens */
      }

    .about-col-1 img
      {
        position: relative;
        max-width: 300px; /* Limit the maximum width of the image */
        height: auto;
        border-radius: 15px;
      }
    
      .about-col-2 
      {

        flex-basis: 100%; /* Change the width to full width on small screens */
      }
}

.sub-title
{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.paragraph
{
    font-size: 22px;
    color: #767575
}

.link-ecole42,
.link-innovative {
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.tab-titles
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills-column {
    flex-basis: 45%;
}

.skills-column h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.skills-column .skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skills-column .skill img {
    width: 30px; /* Adjust the width as per your preference */
    height: auto; /* Maintain the aspect ratio of the image */
    margin-right: 10px;
    background-color: transparent; /* Remove the background color */
}

.skills-column .skill span {
    color: #fff;
    font-size: 14px;
}

.logo-image.darken 
{
    filter: brightness(65%); /* Adjust the brightness value as needed */
}

span#description
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

/* ------------- portfolio ------------ */

#portfolio
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 50px 0;
}

#portfolio .sub-title
{
    margin-top: 0;
}

.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    line-height: 1.5;
}

.work img
{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    display: block;
}

.work video
{
    width: 100%;
    height: 220px;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    border-radius: 10px;
    display: block;
}

/*-------------  Contact me -------------*/

#contact
{
    margin-top: 80px;
}

#contact .container {
    display: flex;
    justify-content: center;
  }
  
  #contact .row 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #ef4c4c;
    color: white;
    text-decoration: none;
    padding: 20px 90px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    margin-top: 30px;
    transition: transform 0.5s;
}

.contact-left
{
    position: relative;
    transform: translateX(-28%);
    color: white;
    flex-basis: 50%;
}

.contact-left p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.contact-right
{
    position: relative;
    top: 0;
    flex-basis: 50%;
    transform: translateY(-78%);
    left: 40%;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icons
{
    margin-top: 30px;
    margin-right: 40%;
    display: flex;
    justify-content: center;
}

.social-icons a
{
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover
{
    color: #ef4c4c;
    transform: translateY(-5px);
}

.btn.btn2
{
    display: inline-block;
    background: #ef4c4c;
}

.contact-right form
{
    width: 130%;
}

.contact-form-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.contact-form-container form
{
    width: 100%;
}
  
.contact-form-container .btn3
{
    margin-top: 0;
}

form input, form textarea
{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn3
{
    padding: 14px 60px;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ef4c4c;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
}

.copyright
{
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}

/* ----------------------- CSS FOR MOBILE --------------- */

nav .fa-solid
{
    display: none;
}

@media (max-width: 950px) 
{
   .logo
   {
    display: none;
   }

   .container
   {
    align-items: center;
    flex-direction: column;
   }
    .row
    {
      flex-direction: column;
    }

    .social-icons
    {
        margin-right: 10%;
    }
  
    .contact-left,
    .contact-right
    {
      transform: translateX(-6.5%);
      flex-basis: 100%;
      margin-left: 0;
      margin-right: 0;
      align-items: center;
    }
  
    .contact-right
    {
      margin-top: 0; /* Add margin for spacing on mobile layout */
      transform: none; /* Reset transform for mobile layout */
      left: 0; /* Reset left position for mobile layout */
    }
  
    /* Reset form and form text positioning for mobile layout */
    .contact-right form
    {
      width: 100%;
      margin-top: 20px; /* Add margin for spacing below the contact information */
    }

    nav .fa-solid
    {
        display: block;
        font-size: 25px;
    }

    #sidemenu
    {
        background: #c6c3c3;
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        text-align: left;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    };

    #sidemenu ul
    {
        margin-top: 20px;
    }

    #sidemenu li
    {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    nav .fa-solid
    {
        position : absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
        color: white;
    }
  }
 
#msg
{
	color: #fff;
	margin-top: 40px;
	margin-right: 60%;
}

